@model Fledgling.Models.RequirementDetail

@{
    ViewBag.Title = "Details";
}

<h2>Requirement Details</h2>

<div>
    <h4>RequirementDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequirementID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequirementID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReqOrigin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReqOrigin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReqDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReqDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReqLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReqLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUTC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
